body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
h1, h2, h3, .title{
    color: honeydew;
}
.card{
    border-radius: 1rem;
    border-width: .25rem;
    border-color: green;
    max-height: 175px;
    
}
.card-img-top{
    height: 100px;
    
}
.card{
    width: 12rem;
}

#lukeC, #vaderC, #yodaC, #jarC, #mandoC{
    display: none;
    border-color: green;
}

#jarE, #lukeE, #vaderE, #yodaE, #jarD, #lukeD, #vaderD, #yodaD, #mandoD{
    display: none;
    border-color: red;
}



